<div>
    <h1>A very simple CouchCommerce Sofa basket example</h1>
    <ul>
        <li class="item" ng-repeat="product in products">
            <p>{{product.name}} - {{product.price | currency}}</p>
            <img ng-src="{{product.images[0].url}}" height="140px" width="140px">
            <p><a ng-click="addToBasket(product)" style="font-weight:bold;">Add to basket</a> |
            <a ng-click="removeFromBasket(product)" style="font-weight:bold;">Remove from basket</a></p>
        </li>
    </ul>
</div>


